.contenedor-nav{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contenedor-op{
    display: flex;
    flex-direction: row;
    padding-right: 70px;
}
.contenedor-op li:hover{
    color: #ff9500;
    font-weight: 500;
}