.contenedorNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BEE0FF;
  }
  
  .logoContenedor {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 80px;
  }
  
  .iconosContenedor {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
  }