.container {
    margin: auto;
    width: 100%;
    height: 1123px;
  }
  
  .body {
    position: absolute;
    width: 456px;
    height: 670px;
    background-image: url("/body.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .background {
    bottom: 1246px;
    right: 1119px;
  }
  
  .orejas, .ropa {
    position: absolute;
    width: 456px;
    height: 670px;
  }
  
  .orejas1 {
    background-image: url("/orejas/orejas1.png");
  }
  
  .orejas2 {
    background-image: url("/orejas/orejas2.png");
  }
  
  .ropa1 {
    background-image: url("/ropa/ropa1.png");
  }
  
  .ropa2 {
    background-image: url("/ropa/ropa2.png");
  }
  
  .next-orejas, .next-ropa {
    position: absolute;
    left: 600px;
    top: 410px;
  }
  
  .next-ropa {
    top: 440px;
  }
  
  .randomize {
    position: absolute;
    left: 600px;
    top: 600px;
    font-weight: bold;
  }