.contenedor{
  display: flex;
  margin-top: 15px;
  justify-items: flex-start;

}
.button1{
display: flex;
outline: 0;
border: 1px;
cursor: pointer;
border-radius: 8px;
padding: 10px 24px 10px;
font-size: 15px;
font-weight: 700;
line-height: 1;
transition: transform 200ms,background 200ms;
background-color: white;
color: #000000;
box-shadow: 0 0 0 1.5px #b4b4b4 inset;
margin-top: 20px;
align-items: center;

}
.button1:hover{
    transform: translateY(-2px);
}

  
.button2{
  margin-right: 20px;
display: flex;
align-items: center;
outline: 0;
border: 0;
cursor: pointer;
background-color: #ff9500;
color: #FFFFFF;
border-radius: 8px;
padding: 10px 24px 10px;
font-size: 15px;
font-weight: 700;
line-height: 2;
transition: transform 200ms,background 200ms;
margin-top: 20px;
}
.button2:hover{
    transform: translateY(-2px);
}


